/node_modules
/public/hot
/public/storage
/storage/*
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.7z
*.DS_Store
/config/scout.php
/_ide_helper.php
/_ide_helper_models.php
/.phpstorm.meta.php
